@import './base';
@import './typography';

$hero-c: #21325b;
$mate-c: #1be;
$gray-c: #789;

body {
  font-family: 'Bitter', serif;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

footer p {
  text-align: center;
}

.site-nav {
  gap: 20px;
}

// .container {
//   // border: 2px solid #eb3;
//   width: 90%;
//   margin: 0 auto;

//   @media (min-width: 780px) {
//     max-width: 1024px;
//   }
// }

.logo__link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $secondary;
  }
}

.category__image {
  display: block;
  width: 50%;
  min-width: 200px;
  margin: 0 auto;
}

.custom-text {
  color: $primary;
}

.intro {
  height: 300px;
  background-image: url('../images/dawn.jpg');
  background-position: center;
}
