// Custom.scss
// Option B: Include parts of Bootstrap

// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #69002a;
$secondary: #d9ad73;
$info: #778899;
$success: #5c8a72;

$body-bg: #efefe7;

@import '../../node_modules/bootstrap/scss/bootstrap';

/*
  With this setup in place, you can begin to modify any of the Sass variables and maps in your 'custom.scss'. 
  You can also start to add parts of Bootstrap under the // Optional section as needed. 
  We suggest using the full import stack from our 'bootstrap.scss' file as your starting point.
*/
