<section class="site-nav bg-info py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav class="site-nav d-flex">
          <a class="d-block btn btn-outline-light" href="{{ path('admin_book_form') }}">Ajout Livre</a>
          <a class="d-block btn btn-outline-light" href="">Ajout Auteur</a>
        </nav>
      </div>
    </div>
  </div>
</section>